.transactionHistory {
  width: 700px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  font-family: 'Helvetica', 'Roboto', sans-serif;
}

thead {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 800;
  line-height: 30px;
  background-color: #00bcd4;
}

.type {
  text-align: left;
  padding-left: 112px;
  text-transform: capitalize;
}

tbody {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  text-transform: capitalize;
}

.tbodyItem {
  background-color: white;
}

.tbodyItem:nth-child(even) {
  background-color: rgb(222, 217, 217);
}

.amount {
  border-left: 2px solid white;
  border-right: 2px solid white;
}
