.item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #c6cccced;
  padding: 20px;
}
.status {
  margin-right: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.true {
  background-color: green;
}

.false {
  background-color: red;
}

.avatar {
  width: 100px;
  margin-right: 15px;
}

.name {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
  color: #524a4d;
}
